{
  "parser": "@typescript-eslint/parser",
  "extends": [
      "airbnb",
      "airbnb-typescript",
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:react/recommended"
  ],
  "env": {
    "es6": true
  },
  "ignorePatterns": [],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  }
}
